.carousel-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: flex;
    width: calc(100%); /* 3 veces el ancho del contenedor para contener los 3 textos */
    animation: slide 20s infinite;
  }
  
  .carousel-item {
    width: calc(100%); /* ancho fijo para cada elemento */
    float: left; /* flotar los elementos a la izquierda */
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(100%)); /* mover el contenido hacia la izquierda un elemento a la vez */
    }
  }


.scaleupbottom{
  animation:scale-up-bottom 0.4s; 
  font-size: 4.5em;
  font-family: 'Bangers', cursive;
  text-align: center;
  color: rgb(251, 255, 40);
  text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(0, 0, 0, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461); }

  @keyframes scale-up-bottom{
    0%{transform:scale(.5);transform-origin:center bottom}100%{transform:scale(1);transform-origin:center bottom}} 

.scale-up-vertical-center{
  animation:scale-up-vertical-center 0.4s;  
  font-size: 3em;
  font-family: 'Bangers', cursive;
  text-align: center;
  color: rgb(234, 234, 234);
  text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(0, 0, 0, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461); } 

  @keyframes scale-up-vertical-center{
    0%{transform:scaleY(.2)}100%{transform:scaleY(1)}}