@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Fira+Sans+Condensed:ital,wght@1,500&display=swap');
/* -------------------------------------- */


header {
	background-color: rgba(204, 244, 4, 0);
	padding: 10px 0;
	}

body {
    /* background-image: url('../imagenes/fondos/jahy.jpg'); */
	background-image: url('https://t4.ftcdn.net/jpg/03/77/20/43/360_F_377204304_mP7v4Y6T88CiuPrfEeKTcfhtwRijYbkB.jpg');
	background-size: 100%;
	background-attachment:fixed;
	background-repeat: no-repeat;
	backdrop-filter: blur(7px) brightness(0.5);
	height: 100vh; 
	overflow: auto;
	font-family: 'Fira Sans Condensed', sans-serif;
  }

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	color: rgb(33, 184, 179);
	padding: 10px 20px;
	text-decoration: none;
}

nav a:hover {
	background-color: rgb(255, 255, 255);
}

.titulo{
	color: white;
	text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(0, 0, 0, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
	margin-top: 1.2em;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.botonBonito {
	background: rgb(251, 255, 40);
	color: rgb(255, 255, 255);
	text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(0, 0, 0, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
	padding: 10px 20px;
	justify-content:center;
	border: 1px solid #5f5353;
	border-radius: 5em;
	border-style: none;
	text-decoration: none;
	font-family: 'Lilita One', cursive;
	}

	.botonBonito:hover{
		background: #00b7ffae;
			color: rgb(255, 255, 255);
			padding: 10px 20px;
			border: 1px solid #000000;
			border-radius: 15em;
			transform:scale(1.1);
			transition: all .5s;
	}


.botonBonito1 {
		background: #ea00ff;
		color: rgb(255, 255, 255);
		padding: 10px 20px;
		margin: 0;
		font-size: 1em;
		font-family: 'Fira Sans Condensed', sans-serif;
		border: none;
		border-radius: 5em;
		justify-content: center;
		align-items: center;
		text-align: center;
		}
		.botonBonito1:hover {
			background: #009879;
			color: rgb(0, 0, 0);
			font-size: 1em;
			font-family: 'Fira Sans Condensed', sans-serif;
			padding: 10px 20px;
			border: none;
			border-radius: 5em;
			transform:scale(1.1);
			transition: all .5s;
			}

.botonBonito2 {
			background: #89e9c6;
			color: rgb(61, 104, 204);
			padding: 10px 20px;
			margin-right: 10em;
			border-radius: 5em;
			justify-content: center;
			align-items: center;
			text-align: center;
			}
			.botonBonito2:hover {
				background: #508e9c;
				color: rgb(255, 255, 255);
				font-size: 1em;
				font-family: 'Fira Sans Condensed', sans-serif;
				padding: 10px 20px;
				border: none;
				border-radius: 5em;
				transform:scale(1.1);
				transition: all .5s;
				}

			/* ESTILOS TABLA ESTUDIANTES */
			.styled-table {
				border-collapse: collapse;
				margin: 3em 0;
				font-size: 0.9em;
				font-family: sans-serif;
				min-width: 400px;
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
				justify-content: center;
				align-items: center;
				text-align: center;
				background-color: #d3d3d3;
			  }
			  
			  .styled-table thead tr {
				background-color: #009879;
				color: #ffffff;
				text-align: left;
			  }
			  
			  .styled-table th,
			  .styled-table td {
				padding: 1em 3.2em;
				
			  }
			  
			  .styled-table tbody tr {
				border-bottom: 1px solid #dddddd;
			  }
			  
			  .styled-table tbody tr:nth-of-type(even) {
				background-color: #d3d3d3;
			  }
			  
			  .styled-table tbody tr:last-of-type {
				border-bottom: 2px solid #009879;
			  }
			  
			  .styled-table tbody tr.active-row {
				font-weight: bold;
				color: #009879;
				
			  }
			/* ------------------------------------------------- */


			/* ESTILOS ESTUDIANTES CARRUSEL */
			  .carta {
				border: 1px solid black;
				border-radius: 10px;
				width: 50em;
				height: 24em;
				padding: 20px;
				margin: 0 auto;
				background-color:#7be4f4b7;
				font-family: 'Fira Sans Condensed', sans-serif;
				font-size: 1.1em;
				line-height: 1.5;
				text-align: center;
				align-items: center;
				justify-content: center;
			  }
			  
			  .encabezado {
				text-align: center;
				margin-bottom: 20px;
				font-family: 'Fira Sans Condensed', sans-serif;
				text-align: center;
				align-items: center;
				justify-content: center;
			  }
			  
			  .cuerpo {
				height: 14em;
				overflow-y: scroll;
				padding-right: 10px;
				text-align: center;
				align-items: center;
				justify-content: center;
			  }
			  
			  .firma {
				margin-top: 2em;
				text-align: right;
				font-size: 1em;
				
			  }
			  
			  .firma p:first-child {
				margin-bottom: -8px;
			  }
			  /* ---------------------------- */


				/* ESTILOS DE FORMULARIO  */
				.form {
					max-width: 400px;
					background-color: #c1e2c2bf;
					margin: 0 auto;
					font-family: 'Fira Sans Condensed', sans-serif;
					color: white;
					border-radius: 1.5em;
				}
				
				.form-group {
					display: block;
					margin-bottom: 1em;
					justify-content: center;
					align-items: center;
					font-size: .6em;
				}
				
				label {
					display: block;
					margin-bottom: 5px;
					font-weight: bold;
				}
				
				input[type="text"],
				input[type="email"],
				input[type="number"]
				{
					display: block;
					width: 100%;
					padding: 10px;
					font-size: 16px;
					font-family: 'Fira Sans Condensed', sans-serif;
					border: 1px solid #b4d21f;
					border-radius: 5em;
					box-sizing: border-box;
					
				}
				::placeholder{
					display: block;
					width: 100%;
					padding: 10px;
					font-size: 14px;
					font-family: 'Fira Sans Condensed', sans-serif;
					text-align:start;
					
				}
				input[type="button"]{
					background-color: #36c3d9;
					color: white;
					text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(0, 0, 0, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
					border: none;
					padding: 10px 20px;
					font-family: 'Fira Sans Condensed', sans-serif;
					border-radius: 4em;
					cursor: pointer;
					justify-content: center;
					align-items: center;
				}
				input[type="button"]:hover {
					background-color: #2394a5;
					text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(0, 0, 0, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
				}
				
				input[type="submit"].btn-submit {
					background-color: #36d93b;
					color: white;
					text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(0, 0, 0, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
					border: none;
					padding: 10px 20px;
					font-family: 'Fira Sans Condensed', sans-serif;
					border-radius: 4em;
					cursor: pointer;
					justify-content: center;
					align-items: center;
				}
				
				input[type="submit"].btn-submit:hover {
					background-color: #0fc715ee;
					text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(0, 0, 0, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
				}

				/* ------------------------------ */

.rotate-horizontal-center{
	animation:rotate-horizontal-center 0.4s;
	background: rgb(251, 255, 40);
	color: rgb(14, 14, 14);
	padding: 10px 20px;
	border: 1px solid #5f5353;
	border-radius: 5em;
	border-style: none;
	text-decoration: none;
	font-family: 'Lilita One', cursive;
	}@keyframes rotate-horizontal-center{
	0%{transform:rotateX(0)}100%{transform:rotateX(-360deg)}}

.rotate-horizontal-center:hover{
	background: #00b7ffae;
			color: rgb(255, 255, 255);
			text-shadow: 0 0 .2rem rgba(0, 0, 0, 0.461), 0 0 .1rem rgba(0, 0, 0, 0.461), 0 0 .8rem rgba(0, 0, 0, 0.461);
			padding: 10px 20px;
			border: 1px solid #000000;
			border-radius: 15em;
			transform:scale(2.1);
			transition: all .5s;
}
